/HipsDontLie/.vs/*
/HipsDontLie/bin/*
/HipsDontLie/obj/*
HipsDontLie.Test/obj/*
HipsDontLie.Test/bin/*
HipsDontLie.Client/bin/*
HipsDontLie.Client/obj/*
HipsDontLie.Shared/bin/*
HipsDontLie.Shared/obj/*

/certs
/.vs
/.vscode
/.idea
/HipsDontLie/.idea/*
HipsDontLie.Test/obj/*

/HipsDontLie/appsettings.json
/HipsDontLie/appsettings.Development.json

.DS_Store
/certs
