@inherits LayoutComponentBase
@using MudBlazor

<MudThemeProvider />
<div class="d-flex justify-center align-center" style="min-height:100vh; background-color: var(--mud-palette-background);">
    <div class="w-100" style="max-width:500px;">
        @Body
    </div>
</div>