@page "/"

<PageTitle>Home</PageTitle>

<AuthorizeView Context="context">
    <Authorized>
        <p>Welcome, @context.User.Identity.Name!</p>
    </Authorized>
    <NotAuthorized>
        <p>Please <a href="/login">log in</a> to continue.</p>
    </NotAuthorized>
</AuthorizeView>

<AuthorizeView Roles="Instructor">
    <p>You are an Instructor.</p>
</AuthorizeView>

<AuthorizeView Roles="Participant">
    <p>You are a Participant.</p>
</AuthorizeView>

